@font-face {
  font-family: "Mabook";
  src: url("./fonts/Mabook.ttf");
}

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  background-color: #ededed;
  height: 100%;
  weight: 100%;
  font-family: "GmarketSans";
}
